body {
    background: black !important;
}

nav {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #212123;
}

nav img {
    height: 50%;
    width: 50%;
    margin-left: 20%;
    margin-right: 10%;
}

li {
    float: left;
    width: 11%;
    height: 50%;
}

li a {
  display: block;
  color: #ECCD34;
  text-align: center;
  padding: 5% 5% 15%;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.carousel {
    background-color: #ECCD34;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-img {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(140px);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-140px)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

.poster {
    width: 120px;;
    height: 180px;
}

.big-poster {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 120%;
    max-height: 120%;
}

.col-md-6 {
    padding-left: 20px;
}

li b {
  display: block;
  padding: 5% 20% 10%;
  margin-top: 10px;
  text-decoration: none;
}

redtitle {
  font-weight: bold;
  color: #B91D28;
  font-size: 24px;
  margin-left: 3%;
}

.container {
    background-color: #FFFFFF;
    padding: 0%;
}

.panel {
    background-color: #FFFFFF;
}

.panel-body {
    margin-left: 10px;
    margin-right: 10xp;
}

.header-inner {
    background-color:#ECCD34;
    font-size:20px;
    font-weight:bolder;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

li a:hover:not(.active) {
  color: #ECCD34;
}

.active {
  color: #B91D28;
  text-decoration: underline;
}

.margin_spaced{
  margin-top: 2%;
}

.margin_form{
  margin-left: 2%;
}

.margin_general_text{
  margin-left: 3%;
}

.btn-primary{
  background-color: #B91D28;
  border-color: #B91D28;
  box-shadow: none !important;
}

/* old color: #a11818*/
.btn-primary:active{
  background-color: #a11818 !important;
  border-color: #a11818 !important;
  box-shadow: none !important;
}

.btn-primary:hover{
  background-color: #B91D28;
  border-color: #B91D28;
}

textarea{
  resize: none;
  max-width: 60%;
  min-width: 60%;
}

.form-control:focus {
  border-color: #B91D28;
  box-shadow: none !important;
}
