body {
    background: black !important;
}

nav {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav img {
    height: 50%;
    width: 50%;
    margin-left: 20%;
    margin-right: 10%;
}

li {
    float: left;
    width: 11%;
    height: 50%;
}

li a {
  display: block;
  color: #ECCD34;
  text-align: center;
  padding: 5% 5% 15%;
  margin-top: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

li b {
  display: block;
  padding: 5% 20% 10%;
  margin-top: 20px;
  text-decoration: none;
}

redtitle {
  font-weight: bold;
  color: #B91D28;
  font-size: 24px;
  margin-left: 3%;
}

.container {
    background-color: #FFFFFF;
    padding: 0%;
}

.panel {
    background-color: #FFFFFF;
}

.header-inner {
    background-color:#ECCD34;
    font-size:20px;
    font-weight:bolder;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

li a:hover:not(.active) {
  color: #ECCD34;
}

.active {
  color: #B91D28;
  text-decoration: underline;
}

.margin_spaced{
  margin-top: 2%;
}

.margin_form{
  margin-left: 2%;
}

.margin_general_text{
  margin-left: 3%;
}

.btn-primary{
  background-color: #B91D28;
  border-color: #B91D28;
  box-shadow: none !important;
}

.btn-primary:active{
  background-color: #a11818 !important; 
  border-color: #a11818 !important;
  box-shadow: none !important;
}

.btn-primary:hover{
  background-color: #B91D28;
  border-color: #B91D28;
}

textarea{
  resize: none;
  max-width: 60%;
  min-width: 60%;
}

.form-control:focus {
  border-color: #B91D28;
  box-shadow: none !important;
}
